<div class="task-infinite-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false">
  <nz-list [nzDataSource]="tasks" [nzRenderItem]="task" [nzGrid]="{gutter: 10, xs: 24, sm: 12, md: 8, lg: 6, xl: 4 }">
    <ng-template #task let-task>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-card [nzActions]="[actionEdit,actionPlay,actionDelete]" nzHoverable>
            <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="task?.name" [nzDescription]="descriptionTemplate">
            </nz-card-meta>
          </nz-card>
          <ng-template #avatarTemplate>
            <nz-avatar [nzText]="task?.name.substring(0, 1).toUpperCase()"
              [ngStyle]="{'background-color': color(task.name)}" style="vertical-align: middle;"></nz-avatar>
          </ng-template>
          <ng-template #descriptionTemplate>
            <div
              style="text-overflow: ellipsis; overflow: hidden;display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; line-height: 18px; height: 18px;">
              {{task?.desc}}
            </div>
          </ng-template>
          <ng-template #actionEdit>
            <i nz-icon type="edit" title="编辑" (click)="onEdit($event, task)"></i>
          </ng-template>
          <ng-template #actionPlay>
            <i nz-icon type="menu-unfold" title="执行计划" (click)="onSchedule($event, task)"></i>
          </ng-template>
          <ng-template #actionDelete>
            <i nz-icon type="delete" title="删除" (click)="onDelete($event, task)"></i>
          </ng-template>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>

  <div style="position: absolute; right: 10px; bottom: 40px;">
    <button nz-button nz-tooltip nzTitle="任务" nzPlacement="left" nzType="primary" nzShape="circle"
      (click)="onEdit($event)">
      <i nz-icon type="plus"></i>
    </button>
  </div>
</div>