:host ::ng-deep .ant-tabs-nav-scroll {
  text-align: center;
}

:host ::ng-deep .ant-tabs-bar {
  margin: 0px;
}

:host ::ng-deep .ant-tabs-content {
  height: calc(100% - 36px);
}

:host ::ng-deep .task-infinite-container {
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 10px;
  min-height: 100px;

  .ant-card-body {
    padding: 10px;
  }

  .ant-card-actions>li {
    margin: 5px 0;
  }
}

.task-infinite-container-loading {
  position: absolute;
  left: 50%;
}
