<nz-table #smallTable nzSize="small" nzFrontPagination="false" [nzLoading]="loading" [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize" [nzTotal]="total" (nzPageIndexChange)="onSearchData()" [nzData]="data">
  <thead>
    <tr>
      <th nzAlign="center">NO.</th>
      <th nzAlign="center">时间</th>
      <th nzAlign="center">状态</th>
      <th nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of smallTable.data; let i = index">
      <td nzAlign="center">{{ (pageIndex - 1) * 10 + (i + 1) }}</td>
      <td nzAlign="center">{{ data.created_at | date:"yyyy-MM-dd HH:mm:ss" }}</td>
      <td nzAlign="center" nz-tooltip nzTitle="初始化" *ngIf="data.status === 0">
        初始化
      </td>
      <td nzAlign="center" nz-tooltip nzTitle="运行中" *ngIf="data.status === 1">
        <i nz-icon nzType="loading" nzTheme="outline" style="color: #52c41a;"></i>
      </td>
      <td nzAlign="center" nz-tooltip nzTitle="完成" *ngIf="data.status === 2">
        <i nz-icon nzType="check-circle" nzTheme="outline" style="color: #52c41a;"></i>
      </td>
      <td nzAlign="center">
        <a [routerLink]="['/data-view', {schduleId: scheduleId, runId: data.id }]" nz-tooltip nzTitle="数据"
          nzPlacement="top">
          <i nz-icon nzType="database" nzTheme="outline"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data.id)" nz-tooltip nzTitle="删除" nzPlacement="top">
          <i nz-icon nzType="delete" nzTheme="outline" style="color: #f5222d;"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>