 
  :host ::ng-deep .test-script-running {
    .ant-tabs-nav-scroll {
      text-align: center;
    }
  }


:host ::ng-deep .ant-tabs-bar {
  margin: 0px;
}

:host ::ng-deep .ant-tabs-content {
  height: calc(100% - 36px);
}

:host ::ng-deep .ant-tabs-tabpane {
  height: 100%;
}