<nz-tabset nzSize="small" [(nzSelectedIndex)]="selected" style="height: 100%;">
  <nz-tab nzTitle="脚本">
    <ngx-monaco-editor #script style="height: 100%;" [options]="{theme: 'vs-dark', language: 'javascript'}"
      [(code)]="code"></ngx-monaco-editor>

    <div style="position: absolute; right: 10px; bottom: 15px;">
      <button nz-button nz-tooltip nzTitle="运行" nzPlacement="left" nzType="primary" nzShape="circle"
        [nzLoading]="isRunning" (click)="onTest()">
        <i nz-icon type="play-circle" theme="outline"></i>
      </button>
    </div>

  </nz-tab>
  <nz-tab nzTitle="运行">

    <div style="position: absolute; right: 0; top: 0; height: 40px; line-height: 40px; padding-right: 10px;">
      <span style="width: 50px; padding-right: 10px;">{{time / 1000 }}s</span>
      <span style="width: 20px; padding-right: 10px;">
        <i nz-icon [type]="'loading'" style="color: #1890ff;" *ngIf="isRunning"></i>
        <i nz-icon type="check-circle" theme="outline" style="color: #52c41a;" *ngIf="!isRunning && res.success"></i>
        <i nz-icon type="close-circle" theme="outline" style="color: #f5222d;" *ngIf="!isRunning && !res.success"></i>
      </span>

      <span>

        <a nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          格式化<i nz-icon type="down"></i>
        </a>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngFor="let language of languages">
              <a (click)="onFormatChange(language)">{{language}}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </span>

    </div>

    <ngx-monaco-editor #returnEditor style="height: 100%;" [options]="{ theme: 'vs-dark', language: 'text' }">
    </ngx-monaco-editor>

    <div style="position: absolute; right: 10px; bottom: 15px;">
      <button *ngIf="isRunning" nz-button nz-tooltip nzTitle="停止" nzPlacement="left" nzType="danger" nzShape="circle"
        [nzLoading]="isStopping" (click)="onStop($event)">
        <i nz-icon type="stop" theme="outline"></i>
      </button>
    </div>

  </nz-tab>
</nz-tabset>