:host ::ng-deep .task-schedule {
  padding: 10px;
  height: 100%;

  .ant-collapse-header {
    padding: 5px 0 5px 40px;
  }

  .schedule-title {
    overflow: hidden;
  }

  .schedule-toolbar {
    text-align: right;
    padding: 0 10px;
  }

  .schedule-toolbar > button {
    margin-right: 10px;
  }

}