<div class="task-schedule">
  <nz-collapse nzBordered="false" nzAccordion="true">
    <nz-collapse-panel *ngFor="let schedule of schedules; let i = index" [nzHeader]="header" [nzActive]="i === 0">

      <ng-template #header>
        <div nz-row>
          <div nz-col nzSpan="10" class="schedule-title">
            <span>{{schedule.name}}</span>
          </div>
          <div nz-col nzSpan="14" class="schedule-toolbar">
            <button nz-button nz-tooltip nzTitle="运行" [nzLoading]="isPreparing" nzPlacement="top" nzSize="small"
              nzShape="circle" nzType="primary" (click)="onRun($event, schedule)"
              *ngIf="schedule.category === 'manual' && schedule.enabled">
              <i nz-icon type="caret-left" theme="outline"></i>
            </button>

            <button nz-button nz-tooltip nzTitle="编辑" nzPlacement="top" nzSize="small" nzShape="circle"
              (click)="onEdit($event, schedule)">
              <i nz-icon type="edit" theme="outline"></i>
            </button>

            <button nz-button nz-tooltip nzTitle="删除" nzPlacement="top" nzSize="small" nzShape="circle" nzType="danger"
              (click)="onDelete($event, schedule, i)">
              <i nz-icon type="delete" theme="outline"></i>
            </button>

            <nz-switch nzSize="small" nz-tooltip [nzTitle]="schedule.enabled ? '启用' : '禁用'" nzPlacement="top"
              nzCheckedChildren="启用" nzUnCheckedChildren="禁用" (click)="onEnableSwitch($event)"
              (ngModelChange)="onEnableChange(schedule)" [ngModel]="schedule.enabled">
            </nz-switch>

          </div>
        </div>

      </ng-template>

      <app-run [scheduleId]="schedule.id"></app-run>

    </nz-collapse-panel>
  </nz-collapse>
</div>

<!-- 工具栏 -->
<div style="position: absolute; right: 10px; bottom: 40px;">

  <div style="margin-top: 5px;">
    <button nz-button nz-tooltip nzTitle="执行计划" nzPlacement="left" nzType="primary" nzShape="circle"
      (click)="onAdd($event)">
      <i nz-icon type="plus"></i>
    </button>
  </div>

  <div style="margin-top: 5px;">
    <button nz-button nz-tooltip nzTitle="后退" nzPlacement="left" nzShape="circle" (click)="onBack($event)">
      <i nz-icon type="arrow-left"></i>
    </button>
  </div>

</div>

<!-- 编辑 -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑" [nzOkDisabled]="!validateFormStatus" (nzOnCancel)="onCancel()"
  (nzOnOk)="onSave()">
  <form nz-form style="padding-top: 10px;">
    <nz-form-item>
      <nz-form-label nzRequired="true" [nzSpan]="4">类型</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <nz-radio-group [(ngModel)]="schedule.category" name="category" (ngModelChange)="onCategoryChange($event)">
          <label nz-radio nzValue="manual">手动</label>
          <label nz-radio nzValue="datetime">时间点</label>
          <label nz-radio nzValue="period">时间区间</label>
          <label nz-radio nzValue="cron">CRON表达式</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired="true" [nzSpan]="4">名称</nz-form-label>
      <nz-form-control [nzSpan]="20" [nzValidateStatus]="schedule.name ? 'success' : 'error'"
        [nzErrorTip]="nameErrorTpl">
        <input nz-input [(ngModel)]="schedule.name" name="name" maxlength="100" placeholder="名称" />
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="!schedule.name">必填项！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="schedule.category === 'period'">
      <nz-form-label nzRequired="true" [nzSpan]="4">时间区间</nz-form-label>
      <nz-form-control [nzSpan]="20" [nzValidateStatus]="schedule.period ? 'success' : 'error'"
        [nzErrorTip]="periodErrorTpl">
        <nz-range-picker [(ngModel)]="schedule.period" name="period" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss">
        </nz-range-picker>
        <ng-template #periodErrorTpl let-control>
          <ng-container *ngIf="!schedule.period">必填项！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="schedule.category === 'period'">
      <nz-form-label nzRequired="true" [nzSpan]="4">时间</nz-form-label>
      <nz-form-control [nzSpan]="20" [nzValidateStatus]="schedule.time ? 'success' : 'error'"
        [nzErrorTip]="timeErrorTpl">
        <nz-time-picker [(ngModel)]="schedule.time" name="time" nzFormat="HH:mm:ss"></nz-time-picker> / 日
        <ng-template #timeErrorTpl let-control>
          <ng-container *ngIf="!schedule.time">必填项！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="schedule.category === 'datetime'">
      <nz-form-label nzRequired="true" [nzSpan]="4">时间点</nz-form-label>
      <nz-form-control [nzSpan]="20" [nzValidateStatus]="schedule.datetime ? 'success' : 'error'"
        [nzErrorTip]="datetimeErrorTpl">
        <nz-date-picker [(ngModel)]="schedule.datetime" name="datetime" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
          nzPlaceHolder="时间点">
        </nz-date-picker>
        <ng-template #datetimeErrorTpl let-control>
          <ng-container *ngIf="!schedule.datetime">必填项！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="schedule.category === 'cron'">
      <nz-form-label nzRequired="true" [nzSpan]="4">CRON</nz-form-label>
      <nz-form-control [nzSpan]="20"
        [nzValidateStatus]="(schedule.cron && validateCronExpression) ? 'success' : 'error'" [nzErrorTip]="cronErrorTpl"
        [nzExtra]="cronExtraTpl">
        <input nz-input [(ngModel)]="schedule.cron" name="cron" maxlength="100" placeholder="CRON表达式" />
        <ng-template #cronExtraTpl>
          <div>秒 分 时 日 月 星期</div>
          <div>最近五次：</div>
          <div *ngFor="let d of validateCronList">{{d | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </ng-template>
        <ng-template #cronErrorTpl let-control>
          <ng-container *ngIf="!schedule.cron">必填项！</ng-container>
          <ng-container *ngIf="!validateCronExpression">表达式验证失败！</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired="true" [nzSpan]="4">启用/禁用</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <nz-switch nzSize="small" [(ngModel)]="schedule.enabled" name="enabled" nzCheckedChildren="启用"
          nzUnCheckedChildren="禁用">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-modal>