<div nz-row style="height: 100%;">

  <div nz-col nzSpan="24" style="height: 15px;"></div>

  <div nz-col nzSpan="24">
    <nz-list nzItemLayout='vertical' nzBordered="true" nzSize="small" nzHeader="设置" [nzDataSource]="data">
      <nz-list-item [nzExtra]="extraDescription">
        <nz-list-item-meta nzTitle="Chromium/Chrome" [nzDescription]="settingDescription"></nz-list-item-meta>
        <ng-template #settingDescription>
          <input nz-input [(ngModel)]="chrome" [disabled]="isLocked" id="chrome" name="chrome" nzSize="small" />
        </ng-template>
      </nz-list-item>
      <ng-template #extraDescription>
        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" style="height: 100%;">
          <button (click)="onSetChromium()" nz-button nzType="primary" nzShape="circle" [nzLoading]="isLoading">
            <i nz-icon [type]="isLocked ? 'lock' : 'unlock'" theme="fill"></i>
          </button>
        </div>
      </ng-template>
    </nz-list>
  </div>

  <div nz-col nzSpan="24" style="height: 15px;"></div>

  <div nz-col nzSpan="24">
    <nz-list nzItemLayout='vertical' nzBordered="true" nzSize="small" nzHeader="版本" [nzDataSource]="versions">
      <nz-list-item [nzContent]="versionContent" *ngFor="let item of versions">
        <ng-template #versionContent>
          <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" style="width:100%;">
            <div>{{item.key}}</div>
            <div>{{item.value}}</div>
          </div>
        </ng-template>
      </nz-list-item>
    </nz-list>
  </div>

  <div nz-col nzSpan="24" style="height: 15px;"></div>

  <div nz-col nzSpan="24">
    <nz-list nzItemLayout='vertical' nzBordered="true" nzSize="small" nzHeader="关于" [nzDataSource]="data">
      <nz-list-item [nzContent]="aboutContent">
        <ng-template #aboutContent>
          <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
            <div>项目</div>
            <div>
              <button (click)="onShell('https://gitlab.com/slowrookie/millipede-puppeteer')" nz-button nzType="primary"
                nzShape="circle">
                <i nz-icon type="gitlab" theme="fill"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </nz-list-item>
    </nz-list>
  </div>

</div>


<!-- <div style="padding:20px; overflow: auto; min-width: 600px; height: 100%;">

  <nz-list style="width:600px; margin: 0 auto; background: #fff;" nzItemLayout='vertical' nzBordered="true" nzSize="small"
    nzHeader="设置" [nzDataSource]="data">
    <nz-list-item [nzExtra]="extraDescription">
      <nz-list-item-meta nzTitle="Chromium/Chrome" [nzDescription]="settingDescription"></nz-list-item-meta>
      <ng-template #settingDescription>
        <input nz-input [(ngModel)]="chrome" [disabled]="isLocked" id="chrome" name="chrome" nzSize="small" />
      </ng-template>
    </nz-list-item>
    <ng-template #extraDescription>
      <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" style="height: 100%;">
        <button (click)="onSetChromium()" nz-button nzType="primary" nzShape="circle" [nzLoading]="isLoading">
          <i nz-icon [type]="isLocked ? 'lock' : 'unlock'" theme="fill"></i>
        </button>
      </div>
    </ng-template>
  </nz-list>

  <div style="height: 20px;"></div>

  <nz-list style="width:600px; margin: 0 auto; background: #fff;" nzItemLayout='vertical' nzBordered="true" nzSize="small"
    nzHeader="版本" [nzDataSource]="versions">
    <nz-list-item [nzContent]="versionContent" *ngFor="let item of versions">
      <ng-template #versionContent>
        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
          <div>{{item.key}}</div>
          <div>{{item.value}}</div>
        </div>
      </ng-template>
    </nz-list-item>
  </nz-list>

  <div style="height: 20px;"></div>

  <nz-list style="width:600px; margin: 0 auto; background: #fff;" nzItemLayout='vertical' nzBordered="true" nzSize="small"
    nzHeader="关于" [nzDataSource]="data">
    <nz-list-item [nzContent]="aboutContent">
      <ng-template #aboutContent>
        <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
          <div>项目</div>
          <div>
            <button (click)="onShell('https://gitlab.com/slowrookie/millipede-puppeteer')" nz-button nzType="primary"
              nzShape="circle">
              <i nz-icon type="gitlab" theme="fill"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </nz-list-item>
  </nz-list>

</div> -->