:host ::ng-deep .ant-list-item-meta {
  margin-bottom: 0px;

  .ant-list-item-meta-title {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
  }

}

:host ::ng-deep .ant-list-item-content {
  margin-bottom: 0px;
}

:host ::ng-deep nz-list {
  width:600px; 
  margin: 0 auto; 
  background: #fff;
}