<nz-tabset nzSize='small' (nzSelectChange)="onSelectChange()">
  <nz-tab [nzTitle]="titleTemplate" *ngFor="let step of steps; let i = index;">
    <ng-template #titleTemplate>步骤 {{i + 1}}</ng-template>
    <ng-template nz-tab>
        <data-view-table [step]="step"></data-view-table>
    </ng-template>
  </nz-tab>
</nz-tabset>


<!-- 工具栏 -->
<div style="position: absolute; right: 10px; bottom: 40px;">

  <div style="margin-top: 5px;">
    <button nz-button nz-tooltip nzTitle="后退" nzPlacement="left" nzShape="circle" (click)="onBack($event)">
      <i nz-icon type="arrow-left"></i>
    </button>
  </div>

</div>