:host ::ng-deep .task-edit {
  height: 100%;

  // 删除按钮
  .ant-tabs-nav .ant-tabs-tab .anticon {
    margin-right: 0px;
  }

  .task-step-add-btn {
    background-color: #52c41a;
    border-color: #52c41a;
  }

  .task-create-btn {
    background-color: #52c41a;
    border-color: #52c41a;
    width: 60px;
    height: 60px;
    font-size: 26px;
  }

  // 步骤tabs样式
  nz-tabset {
    height: calc(100% - 142px);
  }

  // tabs 居中
  .ant-tabs-nav-scroll {
    text-align: center;
  }

  // 扩展按钮
  .ant-tabs-extra-content {
    padding-right: 5px;
    line-height: 40px;
  }

  .ant-tabs-bar {
    margin: 0px;
  }

  .ant-tabs-content {
    height: calc(100% - 40px);
  }
  
  .ant-tabs-tabpane {
    height: 100%;
  }

  .ant-tabs .ant-tabs-left-content {
    padding-left: 0px;
  }

  // form

  .ant-form-item {
    margin: 5px;
  }

  .ant-form-item-label {
    text-align: left;
    padding-left: 24px;
    width: 112px;
  }
}

