<div class="task-edit">
  <form nz-form [formGroup]="validateForm" style="padding-top: 10px;">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">名称</nz-form-label>
      <nz-form-control [nzSpan]="20" nzHasFeedback nzValidatingTip="校验中..." [nzErrorTip]="nameErrorTpl">
        <input nz-input formControlName="name" maxlength="120" [(ngModel)]="task.name" placeholder="名称">
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="validateForm.get('name').hasError('required')">
            必填项!
          </ng-container>
          <ng-container *ngIf="validateForm.get('name').hasError('duplicated')">
            已存在!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">描述</nz-form-label>
      <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="descErrorTpl">
        <textarea nz-input formControlName="desc" rows="2" maxlength="1200" [(ngModel)]="task.desc"
          placeholder="描述"></textarea>
        <ng-template #descErrorTpl let-control>
          <ng-container *ngIf="validateForm.get('desc').hasError('required')">
            必填项!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div style="padding-left: 24px; color: rgba(0,0,0,.85);">步骤：</div>
  <nz-tabset nzSize="small" [nzTabBarExtraContent]="extraTemplate" [nzSelectedIndex]="tabSelectedindex">
    <nz-tab *ngFor="let step of task.steps; let i = index" [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        <div>
          步骤 {{i + 1}}
          <button nz-button nz-tooltip nzTitle="删除" nzPlacement="top" nzType="danger" nzSize="small" nzShape="circle"
            (click)="onRemoveStep($event, i)">
            <i nz-icon type="delete" theme="fill"></i>
          </button>
        </div>
      </ng-template>
      <ngx-monaco-editor [options]="{ theme: 'vs-dark', language: 'javascript' }" [(code)]="step.script"
        style="height: 100%;">
      </ngx-monaco-editor>
    </nz-tab>
  </nz-tabset>

  <!-- 添加步骤扩展按钮 -->
  <ng-template #extraTemplate>
    <button nz-button nz-tooltip nzTitle="添加步骤" nzPlacement="left" nzType="primary" nzSize="small" nzShape="circle"
      class="task-step-add-btn" (click)="onAddStep($event)">
      <i nz-icon type="plus"></i>
    </button>
  </ng-template>

  <!-- 工具栏 -->
  <div style="position: absolute; right: 10px; bottom: 40px;">

    <div>
      <nz-badge nzDot [nzShowDot]="taskModified">
        <button nz-button nz-tooltip nzTitle="保存" nzPlacement="left" nzType="primary" nzShape="circle"
          [disabled]="!validateForm.valid || !task.steps" (click)="onTaskSave($event)">
          <i nz-icon type="save"></i>
        </button>
      </nz-badge>
    </div>

    <div style="margin-top: 5px;">
      <button nz-button nz-tooltip nzTitle="后退" nzPlacement="left" nzShape="circle" (click)="onBack($event)">
        <i nz-icon type="arrow-left"></i>
      </button>
    </div>

  </div>