<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
</div>
<ngx-monaco-editor style="height: 300px;" [options]="{theme: 'vs-dark', language: 'javascript'}" [(code)]="code"></ngx-monaco-editor>
