:host ::ng-deep .logo {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #4286F3;
  float: left;
  margin: 5px 16px;
}

nz-layout {
  overflow: hidden;

  ul {

    li {
      color: #4286F3;
    }

    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
      margin-right: 0px;
    }

  }

  .content {
    // height: 100%;
    height: calc(100% - 61px);
    overflow: auto;
  }

}