<nz-layout style="height:100%;">
  <nz-content>
    <div class="logo">
      <strong>M</strong>
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 33px;">
      <li nz-menu-item nz-tooltip nzTitle="任务" nzPlacement="bottom" (click)="onTask()">
        <span><i nz-icon type="appstore"></i></span>
      </li>
      <li nz-menu-item nz-tooltip nzTitle="脚本" nzPlacement="bottom" (click)="onTestScript()">
        <span><i nz-icon type="code"></i></span>
      </li>
    
      <li nz-menu-item nz-tooltip nzTitle="设置" nzPlacement="bottom" (click)="onSettings()">
        <span><i nz-icon type="setting"></i></span>
      </li>
    </ul>
  </nz-content>

  <nz-content class="content">
    <router-outlet></router-outlet>
  </nz-content>

  <app-footer></app-footer>

</nz-layout>