.footer {
  background: #4286F3;
  height: 25px;
  line-height: 25px;
  color: #fff;
  padding: 0 15px;
  margin-bottom: 0px;

  .network-unavailable {
    width: 20px; 
    color: #f5222d;
    font-size: 20px;
  }

  .network-available {
    width: 20px; 
    color: #52c41a;
    font-size: 20px;
  }
}