<div class="footer">
    <div *ngIf="networkStatus === 'unavailable'" nz-tooltip nzTitle="网络异常"
      class="network-unavailable">
      <i nz-icon type="frown" theme="fill"></i>
    </div>
    <div *ngIf="networkStatus === 'available'" nz-tooltip nzTitle="网络正常"
      class="network-available">
      <i nz-icon type="smile" theme="fill"></i>
    </div>
</div>
