/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

// scrollbar
::-webkit-scrollbar {
  width: 4px;  
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}
